<h1>Home</h1>

@*
    It is a Tag-Helper
    It copies all the code form _ListPartialView.cshtml here
*@
<partial name="_ListPartialView"></partial>

<div class="box">
    <partial name="_ListPartialView"></partial>
</div>