
@{
    ViewBag.Title = "Home page";
}

<div class="container">
    <h1>Welcome to the Home page</h1>

    <a class="btn btn-primary" href="@Url.Action("Register", "User")">Go to Register</a>
    @* @Html.ActionLink("Go to Register", "Register", "User") *@
</div>
