@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact";
}

<h1>Contact Detail</h1>
<p>Contact Person:- Ujjwal</p>

@section footer_section{
    <p>Contact Number:- 1234567890</p>
}

