@{
    ViewData["Title"] = "Download Password Protected PDF";
}

<h1>Download Password Protected PDF</h1>
<a class="btn btn-primary" href="@Url.Action("GeneratePasswordProtectedInvoicePDF", "FileUpload")">Download Password Protected Invoice</a>
