
@{
    ViewData["Title"] = "Download PDF";
}

<h1>Download PDF</h1>
<a class="btn btn-primary" href="@Url.Action("GenerateInvoicePDF", "FileUpload")">Download Invoice</a>

@* <h1>Download Password Protected PDF</h1>
<a class="btn btn-primary" href="@Url.Action("GeneratePasswordProtectedInvoicePDF", "FileUpload")">Download Password Protected Invoice</a> *@
