@{
    ViewData["Title"] = "Home Page";
}

<h2>Home Page</h2>

<p>Welcome to home page, default landing page of application</p>

<a href="/Account/Login">Go to Login</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

